{% load i18n %}
{% load cache %}
{% load localeurl_tags %}
{% load news_tags %}
{% load polls_tags %}
{% load ask_librarian_tags %}
{% get_current_language as LANGUAGE_CODE %}
<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
<head>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <title>{% block title %}Российская государственная библиотека искусств{% endblock %}</title>
    <link rel="stylesheet" href="{{ STATIC_URL }}theme/css/reset.css" />
    <link rel="stylesheet" href="{{ STATIC_URL }}theme/css/960.css" />
    <link rel="stylesheet" href="{{ STATIC_URL }}theme/css/main.css" />
    <link rel="stylesheet" href="{{ STATIC_URL }}theme/css/dropdown.css" media="screen"/>
    <link rel="stylesheet" href="{{ STATIC_URL }}theme/css/dropdownv.css" media="screen"/>
	<link rel="icon" href="{{ STATIC_URL }}theme/favicon.ico" type="image/x-icon">
	<link rel="shortcut icon" href="{{ STATIC_URL }}theme/favicon.ico" type="image/x-icon">
    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=PT+Serif:400,700&subset=latin,cyrillic' type='text/css'>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"></script>
    <!--[if lt IE 9]>
  <script src="{{ STATIC_URL }}theme/css/html5shiv.js"></script>
  <![endif]-->
    <style>
        div.breadcrumb{
            margin-bottom: 20px;
        }

        div.pagination ul {
            list-style: none;
            margin: 0;
        }
        div.pagination ul li{
            float: left;
        }
        .ask_librarian_category ul{
            list-style: none;
            margin: 0;
            padding: 0;
        }
        .ask_librarian_category>ul>li{
            margin: 0;
            padding: 0;
        }
    </style>
</head>
<body>
<!-- <script type="text/javascript" src="{{STATIC_URL}}theme/snow.js"></script> -->
<header>
    <div class="container_12">
        <div class="grid_3">
            {% if LANGUAGE_CODE == 'ru' %}
                <a href="/{{ LANGUAGE_CODE }}"><img src="{{ STATIC_URL }}theme/images/logo_ru.png" width="220" height="164" id="logo" alt="Российская государстванная библиотека искусств"></a>
            {% else %}
                <a href="/{{ LANGUAGE_CODE }}"><img src="{{ STATIC_URL }}theme/images/logo_en.png" width="230" height="165"  id="logo" alt="Federal State Institution of Culture Russian State Art Library"></a>
            {% endif %}
        </div>
        <div class="grid_6" >
            {% if LANGUAGE_CODE == 'ru' %} 
                <h5 style="margin-top: 50px;">Федеральное государственное бюджетное учреждение культуры</h5>
                <h2>Российская государственная<br>библиотека искусств</h2>
{#                <div " >Искусство помогать искусству</div>#}
        <div style="font-family: 'PT Serif', serif; font-size: 20px;color: #ffffff;  margin-left: 15px; margin-top: 10px" >"Искусство помогать искусству"</div>
            {% else %}
                <h5>Federal State Institution of Culture</h5>
                <h2>Russian State <br>Art Library</h2>
                <div style="font-family: 'PT Serif', serif; font-size: 20px;color: #ffffff;  margin-left: 15px; margin-top: 10px" >"The art to help arts"</div>
        
            {% endif %}
        </div>
        <div class="grid_3 search"> <!--style="width:235px; height:142px; position:relative; display:inline; margin-left:10px; margin-right:10px;" -->
        {#    <span class="lang">RU</span>#}
           {% if LANGUAGE_CODE == 'ru' %} 
              <span class="lang">Рус</span> <a href="/en{{ request.path|rmlocale }}" class="lang">Eng</a> 
            {% elif LANGUAGE_CODE == 'en' %} 
                <a href="/ru{{ request.path|rmlocale }}" class="lang">Рус</a> <span class="lang">Eng</span> 
           {% else %} #}
                <a href="/ru{{ request.path|rmlocale }}" class="lang">Рус</a> <a href="/en{{ request.path|rmlocale }}" class="lang">Eng</a> 
            {% endif %} 
            
            
             <div class="social">
            <!--  <a href="http://liart.ru/ru/news/94">  <img src="{{ STATIC_URL }}theme/images/bibl2.jpg" title="Акция Библионочь 19 апреля!"  width="37" height="38" align="top" style="margin-bottom: 0px;" >  
    </a> -->
    {% if LANGUAGE_CODE == 'ru' %}    <a href="http://liart.ru/ru/news/10">  <img src="{{ STATIC_URL }}theme/images/wifi.png" width="37" height="38" align="top" style="margin-bottom: 0px;" >  
    </a>
    {% else %}
     <a href="http://liart.ru/en/news/36">  <img src="{{ STATIC_URL }}theme/images/wifi.png" width="37" height="38" align="top" style="margin-bottom: 0px;" >  
    </a>
    {% endif %}
    
            <a   target="_blank" href="http://www.tripadvisor.ru/Attraction_Review-g298484-d2552862-Reviews-Russian_State_Library_of_Arts-Moscow_Central_Russia.html">
             <img style="margin-top: 5px;"  src="{{ STATIC_URL }}theme/images/trip32ser.png " onmouseover="this.src='{{ STATIC_URL }}theme/images/trip32.png'"  onmouseout="this.src='{{ STATIC_URL }}theme/images/trip32ser.png'" alt="Российская Государственная Библиотека Искусств"></a>
			 
			<a  href="http://www.facebook.com/liart.ru" target="_blank"><img style="margin-top: 5px;"  src="{{ STATIC_URL }}theme/images/facebook1.png" onmouseover="this.src='{{ STATIC_URL }}theme/images/facebook2.png'"  onmouseout="this.src='{{ STATIC_URL }}theme/images/facebook1.png'" alt="Facebook"></a>
			
			<a  href="http://art-library.livejournal.com/" target="_blank"><img style="margin-top: 5px;"  src="{{ STATIC_URL }}theme/images/livejournal1.png" onmouseover="this.src='{{ STATIC_URL }}theme/images/livejournal2.png'" onmouseout="this.src='{{ STATIC_URL }}theme/images/livejournal1.png'" alt="LiveJournal"></a>
			
			<a  href="http://vk.com/artlibrary" target="_blank"><img style="margin-top: 5px;"  src="{{ STATIC_URL }}theme/images/vkontakte1.png" onmouseover="this.src='{{ STATIC_URL }}theme/images/vkontakte2.png'" onmouseout="this.src='{{ STATIC_URL }}theme/images/vkontakte1.png'" alt="ВКонтакте"></a></div>
			
            <div class="search_form"><form action="http://google.com/search" name="f" target="_blank">
                <input type="hidden" name="q" value="site:liart.ru" />
                <input name="q" type="search" placeholder="{% if LANGUAGE_CODE == 'ru' %}Поиск по сайту{% else %}Search on site{% endif %}">
                <input type="hidden" name=hl value="ru">
            </FORM>
            </div>
        <div class="search_catalog">
                <a href="http://liart.ru/opacg/nog.htm">{% if LANGUAGE_CODE == 'ru' %} ПОИСК В ЭЛЕКТРОННОМ КАТАЛОГЕ{% else %}SEARCH IN ELECTRONIC CATALOG{% endif %}</a>
            </div>
            
        
              <div>
			  
		{% if LANGUAGE_CODE == 'ru' %}
<p style="text-align: center; margin-left:44px; margin-top:3px;">
<a style="text-decoration: none;" href="http://liart.ru/opacg/zakaz.htm" target="_blank">
 <input type="button" onclick="location.href('http://liart.ru/opacg/zakaz.htm')" name="input" value="Заказать документ online!" />
</a>
 </p>

 {% else %} 
 <p style="text-align: center; margin-left:44px; margin-top:3px;">
<a style="text-decoration: none;" href="http://liart.ru/opacg/zakaz.htm" target="_blank">
 <input type="button" onclick="location.href('http://liart.ru/opacg/zakaz.htm')" name="input" value="Online ordering of editions!" />
</a>
 </p>

{% endif %}  
 
</div>
        </div>
    </div>
</header>
{% include 'top_menu.html' %}
<section>
    <div class="container_12">
        <div class="grid_3 alpha">
{#     <div style="font-family: 'Arial'; font-size: 14px;  margin-left: 0px; margin-top: 10px;" align="center"> <A target="_blank" href="/ru/pages/Archive_news/new_year_2013"> Дорогие друзья! <br>Поздравляем Вас с наступающим Новым годом и Рождеством! </A>   </div> #}
{# <div><A target="_blank" href="http://liart.ru/ru/pages/Archive_news/new_year_2013" > <img src="/media/files/ny.jpg"  title="Поздравляем с наступающим Новым Годом и Рождеством!" style="width: 220px; margin-top: 15px; margin-left: 5px;"></A></div> #}
<!--div><A href="http://liart.ru/ru/pages/Archive_news/8mar2013" > <img src="/media/files/8mar2013b.jpg"  title="Поздравляем с 8 марта!" style="width: 220px; margin-top: 15px; margin-left: 5px;"></A></div--> 
<A href="http://liart.ru/ru/news/94" > <img src="/media/files/bibl2.jpg"  title="Акция Библионочь 19 апреля!" style="width: 160px; margin-top: 15px; margin-left: 25px;"></A>

            {% include 'left_menu.html'%}
            <div class="clear"></div>
      <div style="font-family: 'Arial'; font-size: 14px;  margin-left: 0px; margin-top: 10px;" align="center">

{% if LANGUAGE_CODE == 'ru' %}
<A target="_blank" href="/ru/news/42"> Нам 90 лет! <br> Нас поздравляли &gt&gt; </A>

 {% else %} 
<A target="_blank" href="/en/news/59"> We turned 90! <br> We received congratulations from &gt&gt; </A>
{% endif %}

</div>
  <br>        <div style="margin-left: 20px;" class="ask_librarian_category">
            <h2><a href="{% url ask_librarian:frontend:index %}">{% if LANGUAGE_CODE == 'ru' %}Спроси библиографа{% else %}Ask librarian{% endif %}</a></h2>
            <span class="title">{% if LANGUAGE_CODE == 'ru' %}Категории вопросов{% else %}Questions categories{% endif %}:</span>
            {% cache 30 questions_category_menu LANGUAGE_CODE %}
                {% drow_categories_tree %}
            {% endcache %}
            </div>'


			
            <div class="clear"></div>
            {% poll_form %}
        </div>
        <div class="grid_6">
        
            {% block content %}

            {% endblock %}
        </div>
        <div class="grid_3">
            {% cache 60 newinlib.html LANGUAGE_CODE %}
                {% include 'newinlib.html' %}
            {% endcache %}

        </div>
    </div>
    <div class="clear"></div>
</section>
{% include 'footer.html' %}

</body>
</html>
