{% extends 'theme_frontend_base.html' %}
{% load localeurl_tags %}
{% block title %}{{ content.title }}{% endblock %}
{% block content %}
    <div class="breadcrumb">
        <a href="{% url index:frontend:index %}">{% if LANGUAGE_CODE == 'ru' %}Начало{% else %}Home{% endif %}</a> <span class="divider">/</span>
        {% for ancestor in content.page.get_ancestors_titles %}
            <a href="{% url pages:frontend:show ancestor.url_path %}">
                {% if not ancestor.title %}
                    {{ ancestor }}
                {% else %}
                    {{ ancestor.title }}
                {% endif %}
            </a> <span class="divider">/</span>
        {% endfor %}
        <span>
            {% if not content.title %}
                заглавие страницы для этого языка не указано.
            {% else %}
                {{ content.title }}
            {% endif %}
        </span>
    </div>
    <div class="content">
    {% if not children %}

        {{ content.content|safe }}


    {% else %}
        <style>
        ul.subpages {
            list-style-image: url('{{ STATIC_URL }}theme/images/arrow_right1.png');
        }
        ul.subpages li.subpage{
            margin-left: 10px;
        }
        </style>
        <ul class="subpages">
        {% for child in children %}
            {% url pages:frontend:show child.url_path  as page_url %}
            <li class="subpage"><a href="/{{ content.lang }}{{ page_url|rmlocale }}">{{ child.content.title }}</a></li>
        {% endfor %}
        </ul>
    {% endif %}
    </div>
{% endblock %}