{% for news in news_list %}

<div class="news{% if news.order != 0 %} priority{% endif %}">
    {% url news:frontend:show news.id  as news_url%}
    {% if news.order == 0 %}<h5><a href="/" class="date">{{ news.create_date|date:"j E Y" }}</a></h5>{% endif %}
    {% if news.avatar_img_name and show_avatar %}
        <a href="{{ news_url }}#news_title"><img src="{{ MEDIA_URL }}uploads/newsavatars/{{ news.avatar_img_name }}" alt=""></a>
    {% endif %}
    {{ news.teaser|safe }}
    <a href="{{ news_url }}#news_title">&gt;&gt;</a>
</div>
{% endfor %}