{% for news in news_list %}

    <div class="news {% if news.order != 0 %} priority{% endif %}">
        {% url 'news:frontend:show' news.id  as news_url %}

        {% if news.order == 0 %}
            <div style="color: rgb(196,192,180); font-size: 16px;">
                --------------------------------------------
            </div>
        {% endif %}


        {% if news.avatar_img_name and news.show_avatar %}<a href="{{ news_url }}"><img src="{{ MEDIA_URL }}uploads/newsavatars/{{ news.avatar_img_name }}" alt=""></a>{% endif %}

        <a href="{{ news_url }}">11{{ news.teaser|safe }} &gt;&gt; </a>
        {% if news.order == 0 %}
            <div style="color: rgb(111,111,111); font-size: 11px;">
                {{ news.create_date|date:"j E Y" }}
            </div>
        {% endif %}

    </div>
{% endfor %}