{% extends 'theme_frontend_base.html' %}
{% load ask_librarian_tags %}
{% load cache %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
{% block title %}{% if LANGUAGE_CODE == 'ru' %}Спроси библиографа{% else %}Ask librarian{% endif %}{% endblock %}

{% block content %}
    <div class="breadcrumb">
        {% block breadcrumb %}
            <a href="{% url 'index:frontend:index' %}">{% if LANGUAGE_CODE == 'ru' %}Начало{% else %}Home{% endif %}</a>
            <span class="divider">/</span>
            {% if LANGUAGE_CODE == 'ru' %}Спроси библиографа{% else %}Ask librarian{% endif %}
        {% endblock %}
        </div>
        <div>
            {% block index_content %}

            {% endblock %}
        </div>
{#    <hr/>#}
{#         <div>#}
{#            <a style="display: block; padding: 15px 0 15px 0" class="btn btn-success" href="{% url ask_librarian:frontend:ask %}">{% if LANGUAGE_CODE == 'ru' %}Задать вопрос{% else %}Ask question{% endif %}</a>#}
{#            {% cache 30 questions_category_menu LANGUAGE_CODE %}#}
{#                {% drow_categories_tree %}#}
{#            {% endcache %}#}
{##}
{#        </div>#}
{% endblock %}

