{% extends 'ask_librarian/frontend/index.html' %}
{% load pagination_tag %}
{% load cache %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
{% block title %}{% if LANGUAGE_CODE == 'ru' %}Спроси библиографа{% else %}Ask librarian{% endif %}{% endblock %}
{% block breadcrumb %}
    <a href="{% url index:frontend:index %}">{% if LANGUAGE_CODE == 'ru' %}Начало{% else %}Home{% endif %}</a>
    <span class="divider">/</span>
        {% if category %}
            {% cache 30 questions_breadcrumb category.id LANGUAGE_CODE %}
            <a href="{% url ask_librarian:frontend:index %}">{% if LANGUAGE_CODE == 'ru' %}Спроси библиографа{% else %}Ask librarian{% endif %}</a> <span class="divider">/</span>

                {% if category.is_root_node %}
                    {{ category }}
                {% else %}
                    {% for ancestor in  category.get_t_ancestors %}
                        <a href="{% url ask_librarian:frontend:index %}?category={{ ancestor.category_id }}">{{ ancestor }}</a> <span class="divider">/</span>
                    {% endfor %}
                    {{ category }}
                {% endif %}
            {% endcache %}
        {% else %}
            {% if LANGUAGE_CODE == 'ru' %}Спроси библиографа{% else %}Ask librarian{% endif %}
        {% endif %}

{% endblock %}
{% block index_content %}
    <div class="row">
        <a href="{% url ask_librarian:frontend:ask %}">Задать вопрос</a>
{#        <div class="span4">#}
{#            <form action="" method="GET">#}
{#                Перейти к вопросу №: <input type="text" style=" width: 50px;" name="id"/><br/>#}
{#                <input type="submit" value="Перейти" class="btn"/>#}
{#            </form>#}
{#        </div>#}
{#        <div class="span5">#}
{#            <form action="" method="POST">{% csrf_token %}#}
{#                Найти вопросы по дате:#}
{#                {% for field in date_filter_form.visible_fields %}#}
{#                    <div class="control-group {% if field.errors %}error{% endif %}">#}
{#                        <label class="control-label" for="{{ field.auto_id }}">{{ field.label }}</label>#}
{#                        <div class="controls">#}
{#                            {{ field }}#}
{#                            {% if field.errors %}#}
{#                                {{ field.errors }}#}
{#                            {% endif %}#}
{#                            {% if  field.help_text %}<p class="help-block">{{ field.help_text }}</p>{% endif %}#}
{#                        </div>#}
{##}
{#                    </div>#}
{#                {% endfor %}#}
{#                <input type="submit" value="Найти" class="btn"/>#}
{#            </form>#}
{#        </div>#}
    </div>
    <hr class="space"/>
    <style>
    ul.questions_list{
        list-style: none;
        padding: 0;
        margin: 0;
    }
    ul.questions_list>li{
        list-style: none;
        padding: 0;
        margin: 0;
    }
    </style>
    <ul class="questions_list" style="">
    {% for question in questions_page.object_list %}
        <li>
            {{ question.question }}<br/><br/>
            {% if question.category_id %}
                {% if LANGUAGE_CODE == 'ru' %}Категория{% else %}Category{% endif %}: <b>
                {% cache 30 questions_category question.category_id  LANGUAGE_CODE %}
                    {% for ancestor in  question.category.get_t_ancestors %}
                        {{ ancestor }}  →
                    {% endfor %}
                        {{ question.category }}
                {% endcache %}
                </b>
            {% endif %}
            <br/>
            <a href="{% url ask_librarian:frontend:detail question.id %}?back={{ request.get_full_path }}">{% if LANGUAGE_CODE == 'ru' %}подробнее{% else %}details{% endif %}</a><br>

        <hr/>
        </li>
    {% empty %}
        <li>{% if LANGUAGE_CODE == 'ru' %}Вопросов нет{% else %}Not have a questions{% endif %}</li>
    {% endfor %}
    </ul>
    {% admin_pagination questions_page %}
{% endblock %}