{% extends 'theme_frontend_base.html' %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
{% block title %}{{ news.title|safe }}{% endblock %}
{% block content %}
    <div class="breadcrumb">
        <a href="{% url index:frontend:index %}">{% if LANGUAGE_CODE == 'ru' %}Начало{% else %}Home{% endif %}</a> <span class="divider">/</span>
        {% if request.GET.back %}
            <a href="{{ request.GET.back }}">{% if LANGUAGE_CODE == 'ru' %}Новости{% else %}News{% endif %}</a> <span class="divider">/</span>
        {% else %}
            <a href="{% url news:frontend:index %}">{% if LANGUAGE_CODE == 'ru' %}Новости{% else %}News{% endif %}</a> <span class="divider">/</span>
        {% endif %}
    </div>
    <h2 align="center" id="news_title"><span class="active">{{ news.title|safe }}</span></h2>
    <div class="content">
        {{ news.content|safe }}
    </div>
<div class="yashare-auto-init" style="margin:10px auto;text-align:center;" data-yashareTitle="{{ news.title }}" data-yashareDescription="{{ news.teaser }}" data-yashareImage="http://liart.ru{{ MEDIA_URL }}uploads/newsavatars/{{ news.avatar_img_name }}" data-yashareQuickServices="vkontakte,facebook,twitter,gplus,odnoklassniki,moimir" data-yashareTheme="counter" data-yashareType="large"></div>
<script type="text/javascript" src="//yandex.st/share/cnt.share.js"></script> 
{% endblock %}

