{% extends 'theme_frontend_base.html' %}
{% load menu_tags %}
{% load news_tags %}
{% load cache %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
{% block content %}
    
	
	
	 <div style="margin-bottom:10px; ">
				<div id="slider">
			
			<a href="http://liart.ru/ru/news/935/"><img src="http://liart.ru/media/files/img/2016/06092016/gay.jpg" alt="" title="" /></a>
			<a href="http://liart.ru/ru/news/932/"><img src="http://liart.ru/media/files/img/2016/06092016/ucheb.jpg" alt="" title="" /></a>	
			<a href="http://liart.ru/ru/news/797/"><img src="http://liart.ru/media/files/img/2016/17032016/kino2.jpg" alt="" title="" /></a>
            </div> 
  
			
			
        
        </div> 
		
<!--p style="text-align:center; font-weight:bolder;">Прямая трансляция 9-ых Международных Михоэлсовских чтений</p>
			<div class="iv-embed" style="margin:0 auto;padding:0;border:0;width:480px;"><div class="iv-v" style="display:block;margin:0;padding:1px;border:0;background:#000;"><iframe class="iv-i" style="display:block;margin:0;padding:0;border:0;" src="//open.ivideon.com/embed/v2/?server=100-78b08087d07524bb61fca2ae6ead0ca7&amp;camera=0&amp;width=&amp;height=&amp;lang=ru" width="480" height="360" frameborder="0" allowfullscreen></iframe></div><div class="iv-b" style="display:block;margin:0;padding:0;border:0;"><div style="float:right;text-align:right;padding:0 0 10px;line-height:10px;"></div><div style="clear:both;height:0;overflow:hidden;">&nbsp;</div><script src="http://open.ivideon.com/embed/v2/embedded.js"></script></div></div-->
	
	<div id="news">
      <!-- <div style="margin-bottom: 20px">
            {% if LANGUAGE_CODE == 'ru' %}   
			<img src="http://liart.ru/media/files/img/pozdr2.jpg">
            {% endif %}
            
        </div>
		-->

		
	
		
        <h1 id="newsblock">
            {% if LANGUAGE_CODE == 'ru' %}
                Новости
                <a href="/ru/news/rss">
                    <img src=/static/images/rss.png alt="Подписаться" title="Подписаться на новости"  style="width: 15px;">
                </a>
            {% else %}
                News
                <a href="/en/news/rss">
                    <img src=/static/images/rss.png alt="Subscribe" title="Rss subscribe"  style="width: 15px;">
                </a>
            {% endif %}
        </h1>

        <div class="news_feed">
        {% cache 60 news_feed LANGUAGE_CODE %}
            {% news_feed 10 %}
        {% endcache %}
        </div>
        <div>
            {% if LANGUAGE_CODE == 'ru' %}
                <a href="/ru/news">Остальные новости &gt;&gt;</a>
            {% else %}
                <a href="/en/news">Archive news &gt;&gt;</a>
            {% endif %}
        </div>
		

	
		
		
		
    </div>
	
<script type="text/javascript">
    $(window).load(function() {
        $('#slider').nivoSlider();
    });
    </script>

{% endblock %}