{% extends 'index/frontend/index.html' %}
{% block title %}{{ content.title }}{% endblock %}
{% block content %}
    <div class="breadcrumb">
        <a href="{% url 'index:frontend:index' %}">{% if LANGUAGE_CODE == 'ru' %}Начало{% else %}Home{% endif %}</a> <span class="divider">/</span>
        {% if request.GET.back %}
            <a href="{{ request.GET.back }}">{% if LANGUAGE_CODE == 'ru' %}Афиша{% else %}Events{% endif %}</a> <span class="divider">/</span>
        {% else %}
            <a href="{% url 'events:frontend:index' %}">{% if LANGUAGE_CODE == 'ru' %}Афиша{% else %}Events{% endif %}</a> <span class="divider">/</span>
        {% endif %}
    </div>
    <div class="content">
        {{ content.content|safe }}
    </div>
    <hr/>
    <div class="info">
        <b>Место проведения</b>: {{ event.address }}<br/>
        <b>Начало</b>: {{ event.start_date|date:"d E Y" }} в {{ event.start_date|date:"H:i" }}
    </div>
{% endblock %}