{% extends 'news/administration/index.html' %}
{% load active_link %}
{% load pagination_tag %}
{% load breadcrumbs %}
{% load mptt_tags %}
{% load add_get_tag %}
{% block breadcrumb %}
    {% breadcrumb "Новости" news:administration:index %}
    {% breadcrumb "Список" %}
{% endblock %}

{% block action_content %}
    <ul class="nav nav-tabs">
    {% for lang in langs %}
        {% if forloop.first and not request.GET.lang %}
            <li class="active">
                <a href="?lang={{ lang.0 }}">{{ lang.1 }}</a>
            </li>
        {% else %}
            <li {% if request.GET.lang == lang.0 %}class="active"{% endif %} >
                <a href="?lang={{ lang.0 }}">{{ lang.1 }}</a>
            </li>
        {% endif %}
    {% endfor %}
    </ul>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Новость</th>
            <th class="span1">Опубликовано</th>
            <th class="span2">Дата создания</th>
            <th class="span2">Действия</th>
        </tr>
        </thead>
        <tbody>
        {% for news in news_list %}

            <tr>
                <td><a href="{% url news:administration:edit_news news.id %}">{{ news.title }}</a></td>
                <td>{% if news.publicated %}<span class="label label-success">да</span>{% else %}<span class="label label-warning">нет</span>{% endif %}</td>
                <td>{{ news.create_date }}</td>
                <td><a class="delete btn btn-danger"  href="{% url news:administration:delete_news news.id %}"><i class="icon-trash icon-white" title="Удалить"></i></a></td>
            </tr>

        {% endfor %}
        </tbody>
    </table>
    {% admin_pagination news_page %}
    <script type="text/javascript">
        $("a.delete").click(function () {
            if (!confirm('Вы уверены, что хотите удалить?')) return false;
        });
    </script>
{% endblock %}


